﻿body
{
	font-family:'Big Shoulders Stencil Display', serif;
}

ul
{
	font-family: 'Arial', sans-serif;
}

.pari
{
	color:red;
}

.mul3
{
	font-weight: bold;
}

#num6
{
	color: Green;
}

li:nth-child(even)
{
	color: red;
}

li:nth-child(odd)
{
	Display:none; /Viene rimosso anche il suo spazio
	/visibility:hidden; /lo spazio rimane, ma il valore non viene visualizzato
}

li:nth-child(3n+0)
{
	font-weight:bold;
}
div.riquadro
{
	Display: inline-block;
	border: 2px solid black;
	border-radius: 20px;
	padding: 3px;
	margin: 10px;
}
#contenitore div:nth-child(even)
{
	background-color: cornsilk;
}