.ace_editor {
    border: 1px solid rgb(26, 235, 19);
    height: 100%;
    font-size: large;
    margin-left: 4px;
}
.scrollmargin {
    min-height: 80px;
}

#indexPage {
    background-image: url("../backgrounds/principal_bg.jpg");
    background-size: cover;
    height: 100vh;
}

#wrapper{
    background-image: url("../backgrounds/principal_bg.jpg");
    background-size: cover;
    height: 100vh;
}

#offcanvasWithBothOptions{
    background-image: url("../backgrounds/menu_bg.jpg");
    background-size: cover;
    height: 100vh;
}

#header{
    background-image: url("../backgrounds/nav_footer_bg.jpg");
    background-size: cover;
    height: 100%;
}
#footer{
    background-image: url("../backgrounds/nav_footer_bg.jpg");
    background-size: cover;
    height: 35px;
}


.bg-transparent-2{
    background-color: rgba(0, 0, 0, 0.712)!important;
}

.bg-transparent-1{
    background-color: rgba(0, 0, 0, 0.589)!important;
}

.text-matrix{
    color: rgb(26, 235, 19)!important;
}

.border-matrix{
    border-color: rgb(26, 235, 19)!important;
}

.prova::-webkit-scrollbar{
    display: none !important;
  }

.bg-black{
    background-color: rgb(0, 0, 0)!important;
} 

.dropdown-item:focus,.dropdown-item:hover{
    color:#04df28;
    background-color:#1f3114!important;
}

.list-group-item-action:focus,.list-group-item-action:hover{
    color:#04df28;
    background-color:#333333!important;
}

.accordion-button:not(.collapsed){
    color:#18ca01!important;
    background-color:#0a0a0a49!important;
    box-shadow:inset 0 -1px 0 rgba(88, 88, 88, 0.125)!important
}
.accordion-button:not(.collapsed)::after{
    background-image:url("../backgrounds/caret-down.svg")!important;
    transform:rotate(180deg)
}
.accordion-button::after{
    flex-shrink:0;
    width:1.25rem;
    height:1.25rem;
    margin-left:auto;
    content:"";
    background-image:url("../backgrounds/caret-down.svg")!important;
    background-repeat:no-repeat;
    background-size:1.25rem;
    transition:transform .2s ease-in-out
}
@media (prefers-reduced-motion:reduce){
    .accordion-button::after{
        transition:none
    }
}
.accordion-button:hover{
    z-index:2
}
.accordion-button:focus{
    z-index:3;
    border-color:#2efa1c!important;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(48, 107, 51, 0.637)!important
}