
<div class="text-white">
<p class="display-1 text-center">Lezioni Video</p><br><br>
<p class="text-center text-justify">In questa sezione puoi trovare le videolezioni; <br> per caricarle apri il <b>menu</b> <u>cliccando sul pulsante <b><a href="#button_menu" class="link-light">menu</a></b> in alto a destra</u></p>
</div>